

<section class="register">
  <h3>Cadastro</h3>
  <form action="/auth/register" method="POST">
    <div>
      <label for="name">Nome:</label>
      <input type="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="password">Senha:</label>
      <input type="password" name="password" required>
    </div>
    <div>
      <label for="confirmpassword">Confirmar senha:</label>
      <input type="password" name="confirmpassword" required> 
    </div>
    <div>
      <button type="submit" class="btn-primary">Cadastrar</button>
    </div>
  </form>
</section>
