<div class="container">
  <div class="create-phrase">
    <h3>Crie sua frase</h3>
    <form action="/phrases/add" method="POST">
      <div>
        <label for="title">Titulo:</label>
        <input type="text" name="title" required>
      </div>
      <div>
        <button type="submit" class="btn-primary">Criar frase</button>
      </div>
    </form>
  </div>
</div>