<section class="home">
  <div class="container">
    <ul>
      {{#each phrases}}
      <li>
        <div class="phrase">"{{this.title}}"</div>
        <div class="author">Autor: {{this.User.name}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>